<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  crossorigin="anonymous">
<div class="m-5">
  <div class="d-flex">
    <h1 class="display-1">Angular Movies</h1>
    <img class="ml-5" width="100dp" height="100dp" src="../assets/image/rollo de pelicula.webp">
  </div>
  <p>This small App demonstrates communication between child-components using input/Output</p>
  <div class="row">
    <div class="col-md-6">
      <app-movie-list (movieSelected)="onMovieSelected($event)"></app-movie-list>
    </div>
    <div class="col-md-6">
      <app-movie-poster></app-movie-poster>
    </div>
  </div>
  <app-movie-plot [plot]="selectedMovie.Plot"></app-movie-plot>
</div>